@import url('https://fonts.googleapis.com/css?family=Lobster|Ubuntu');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(33, 42, 59);
    color: #FFF;
}

header{
    background-color: rgb(18, 26, 41);
    font-family: 'Lobster', cursive;
    color: #FFF;
    height: 12%;
    padding: 1%;
}

.head{
    height: 12%;
    padding: 1px;
}

.head-add{
    height: 50px;
    text-align: center;
}

.container{
    margin: 1% auto;
    text-align: center;
}

.input-label{
    margin: 1%;
}

.input-form{
    border-bottom: 3px solid #FFF;
    border-right: none;
    border-left: none;
    border-top: none;
    height: 40px;
    width: 60%;
    color: #FFF;
    background-color: inherit;
}


.input-form:focus{
    outline: none;
}

.btn{
    margin: 8px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: #FFF;
    box-shadow: 2px 5px rgb(18, 26, 41);
}

.btn-add{
    background-color: #0e8210;
    width: 120px;
}

.btn-remove{
    background-color: #F23;
    width: 90px;
}

.message{
    margin: 8px;
    font-size: 12px;
}

.list{
    list-style: none;
}

.list-item{
    height: 90px;
    color: #FFF;
    border-radius: 8px;
    box-shadow: 1px 2px 5px 2px rgb(9, 16, 29);
    margin: 1%;
    padding: 30px;
    font-size: 16px;
}